.venv/
*.DS_Store
website/data/*
scripts/input_data/*
__pycache__/

website/assets/images/Banner_index/test.gif
*.geojson
*.gpkg
*.dwg
*.csv
*.xlsx
data/AHN5.zip
data/AHN4.zip
data/AHN3.zip
data/AHN2.zip
data/AHN1.zip
website/assets/images/icons/color_blindness.png
scripts/data/special_gpkg/research.gpkg-wal
scripts/data/special_gpkg/research.gpkg-shm
